In [12]:
import numpy as np
import pandas as pd

df = pd.read_excel('subnational-debt-OECD.xlsx', sheetname="Sheet1")
df.describe(include="all")

,Country,Subnational Debt,Population,Area,Debt per km squared,Debt per person,Population Density
count,34,34,34.000000,3.400000e+01,34,34,34.000000
unique,34,31,NaN,NaN,33,33,NaN
top,US,n/a,NaN,NaN,n/a,n/a,NaN
freq,1,2,NaN,NaN,2,2,NaN
mean,NaN,NaN,37848.323529,1.013720e+06,NaN,NaN,143.801471
std,NaN,NaN,60498.176547,2.447630e+06,NaN,NaN,139.438475
min,NaN,NaN,327.000000,2.586000e+03,NaN,NaN,3.070000
25%,NaN,NaN,5508.000000,5.387550e+04,NaN,NaN,31.435000
50%,NaN,NaN,10726.000000,1.866645e+05,NaN,NaN,103.035000
75%,NaN,NaN,49434.000000,3.988875e+05,NaN,NaN,213.022500
max,NaN,NaN,319173.000000,9.161923e+06,NaN,NaN,506.970000